<div class='col-lg-12 animated fadeIn' >
  <div class='media movie' >
    <span class='position pull-left profile-card-index' >{{index + 1}}</span >
    <div class='profile-card-pic-container'>
      <img class='profile-card-pic' src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champion.champion_name}}.png" />
    </div>
    <div class='media-body profile-card-info' >
      <h4 class='media-heading' >
        <b class="profile-card-name">{{champion.champion_name}} </b> - <i>{{champion.champion_title}} </i>
      </h4 >
    </div >
    <div><b>About Me:</b></div>
    <a *ngIf='loggedIn' href="user/profile/{{profile._id}}" class="btn btn-info pull-right">See Profile</a>
    <a *ngIf='!loggedIn' href="users/login" class="btn btn-info pull-right">See Profile</a>
  </div >
</div >
