<div class='col-lg-12 animated fadeIn' >
  <div class='media movie' >
    <span class='position pull-left profile-card-index' >{{index + 1}}</span >
    <div class='profile-card-info' >
     
        <div class="profile-card-name">
          <span><b >{{player.playerOrTeamName}} </b></span>
        </div>
        <div class="win-lose">
          <i >{{player.wins}}/{{player.losses}} </i>
        </div>
        <div class="league-points">
          <b >{{player.leaguePoints}}</b>
        </div>
    </div >
    <a *ngIf='loggedIn' href="player/{{player.playerOrTeamId}}" class="btn btn-info pull-right">See Profile</a>
    <a *ngIf='!loggedIn' href="users/login" class="btn btn-info pull-right">See Profile</a>
  </div >
</div >
