<div class="profile-heading">
  <h1>Send Message:</h1>
</div>
<div class="container profile-container">
  <form #sendMessageForm='ngForm' (submit)='sendMessage(recipient)'>

    <div class="form-group">
      <label for="recipient">Send to:</label>
      <input
        type='text'
        name='recipient'
        id='recipient'
        class='form-control'
        value='{{recipient}}'
        [disabled] = 'true'/>
    </div>

    <div class="form-group">
      <label for="content">Your message:</label>
      <textarea
        class="form-control"
        id="content"
        name='content'
        [(ngModel)] = 'message.content'
        #content='ngModel'
        required>
        </textarea>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled] = '!sendMessageForm.form.valid'>
      Submit
    </button>

  </form>
</div>
<h1></h1>
<div class="container profile-container">
  <list-messages
    [thread]='currentThread'
    [currentUserProfile]='currentUserProfile'
    [secondUserProfile]='secondUserProfile'>
  </list-messages>
</div>


