<div class='container profile-container' >
  <div class='profile-pic' >
    <img [src]="profile.userProfilePicture ? profile.userProfilePicture : defaultProfilePic" />
  </div >
  <div class='profile-info clearfix' >
    <h2 ><strong >First Name: {{profile.userFirstName}}</strong ></h2 >
    <h2 ><strong >Last Name: {{profile.userLastName }}</strong ></h2 >
    <h2 ><strong >Gender: {{profile.userGender }}</strong ></h2 >
    <h2 ><strong >Username: {{profile.userUsername}}</strong ></h2 >
    <h2 ><strong >Age: {{profile.userAge}}</strong ></h2 >
    <h2 ><strong >Favourite Champions: </strong ></h2 >
    <p class="profile-description">{{profile.userFavouriteChampions}}</p>
    <div>
      <button class="btn btn-warning" *ngIf="isOwnProfile" (click)="goToEditPage()">Edit description</button>
      <button class="btn btn-warning" *ngIf="canSendMessage" (click)="sendMessage(profile.userUsername)">Send Message</button>
      <a routerLink='/posts/add' class='btn btn-success'>Post Something</a>
    </div>
  </div >
</div >
<list-posts></list-posts>
<list-images [isOwnProfile]='isOwnProfile'></list-images>
<add-image *ngIf="isOwnProfile"></add-image>
