<div class="profile-heading">
  <h1>Login User:</h1>
</div>
<div class="container profile-container">
  <form #loginForm='ngForm' (submit)='login()'>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        name='username'
        [(ngModel)] = 'user.username'
        id="username"
        #username = 'ngModel'
        required>
      <span [hidden] = 'username.valid || username.pristine'>
        Username is required!
      </span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name='password'
        [(ngModel)] = 'user.password'
        #password = 'ngModel'
        required>
      <span [hidden] = 'password.valid || password.pristine'>
        Password is required!
      </span>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled] = '!loginForm.form.valid'>
      Submit
    </button>

  </form>
</div>
