<footer>
  <div class='container' >
    <div class='row' >
      <div class='col-sm-5' >
        <h3 class='lead' >
          <strong>Information</strong> and
          <strong> Copyright</strong>
        </h3>
        <p>
          Powered by
          <strong> Express</strong>,
          <strong> MongoDB</strong> and
          <strong> Angular4</strong>
        </p>
        <p>@2017 SoftUni.</p>
      </div>
      <div class='col-sm-3' >
        <h3 class='lead' >Author</h3>
        <a href='https://github.com/ionkoto/Angular2-NotesApp'>
          <strong> Team AIM </strong>
        </a>
      </div>
    </div>
  </div>
</footer>