<footer>
  <div class='container' >
    <div class='row' >
      <div class='col-sm-5' >
        <h3 class='lead' >
          <strong>Information</strong> and
          <strong> Copyright</strong>
        </h3>
        <p>
          Powered by
          <strong> Angular4</strong>,
          <strong> Express</strong>,
          <strong> MongoDB</strong> and
          <strong> RIOT API</strong>
        </p>
        <p>@2017 Mihail Kovashki.</p>
      </div>
      <div class='col-sm-3' >
        <h3 class='lead' >Author</h3>
        <a href='https://github.com/mihail-kovashki'>
          <strong> Mihail Kovashki </strong>
        </a>
      </div>
    </div>
  </div>
</footer>